.app{
h1{
    display: flex;
    justify-content: center;
}
}

.lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lobby-actions{
    display: flex;
    gap: 1rem;
}
.dice-container{
    display: flex;
    justify-content: center;
    img{
        width: 5rem;
    }
}
.player-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.player-score {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 200px;
    margin-bottom: 0.5rem;
}

p-progressbar {
    height: 1rem;
    background: black;
    border-radius: 7px;
    max-width: 100%;
}
.p-progressbar-value {
    background: orange;
}

.multiplier-container{
    display: flex;
    justify-content: center;
    img{
        width: 5rem;
    }
    }
.center-content{
    display: flex;
    justify-content: center;
}

.min-height{
    height: 12rem;
}

.dice-list{
    height: 15rem;
}

.paren-maren-button{
margin-top: 2rem;
}

.current{
    font-weight: bold;
}
.table{
    min-height: 200px;
    margin-top: 2rem;
}
.table-container{
min-height: 200px;
margin-top: 2rem;
}
.app{
}