<div class="app">
  <h1>{{ title() }}</h1>

      <div class="player-join" *ngIf="!joined">
    <label for="name">Name</label>
    <input id="name" type="text" [(ngModel)]="newPlayer" placeholder="Name" />
    <!-- <button (click)="joinRoom()" [disabled]="joined || !newPlayer.trim()">Unirse</button> -->
    </div>

  <section class="status" *ngIf="joined">
    <div>Room ID: <strong>{{ roomId }}</strong>
      <!-- <button (click)="regenerateRoomId()" title="Regenerate room id">🔁</button> -->
    </div>
  </section>

  <section>
    <div>Create new room: </div>
    <button (click)="createNewRoom()">Create Room</button>
  </section>

  <section>
    <div>Connect to existing room: </div>
    <input type="text" [(ngModel)]="joinerId" placeholder="Room ID"/> 
    <button (click)="joinRoom()">Join</button>
  </section>

  <section class="join">
    <div>Room host: {{hostPlayer}}</div>

    <em *ngIf="joined">Connected as {{ currentPlayer() }}</em>
    <button (click)="startGame()" *ngIf="currentPlayer() === hostPlayer && phase === 'lobby'">Start Game</button>
  </section>

  <!-- <section class="lobby">
    <input type="text" placeholder="Nombre" [(ngModel)]="newPlayer" />
    <button type="button" (click)="joinRoom()" [disabled]="!newPlayer">Unirse a la sala</button>    
  </section> -->

    <section class="player-list">
      <h3>Players</h3>
      <div *ngFor="let player of players" class="player-row" [class.current]="currentPlayer() === player.name">
   
        <div class="player-name">
          {{player.name}}
          <!-- <span *ngIf="currentPlayer() === player.name" class="badge">En turno</span> -->
        </div>
        <div class="player-score">{{player.score}}</div>
      </div>
    </section>



  <section class="dice-list">
    <ng-container *ngIf="dice().length; else noDice" class="min-height">
      <div class="table">
      <div class="dice-container">
      <div *ngFor="let d of dice(); let i = index">
        <img [src]="'assets/dice' + d + '.png'" [alt]="" />
      </div>
      </div>
      <div class="multiplier-container" *ngIf="parenMarenPressed()">
      <img [src]="blackDiceUrl" [alt]="" />
      </div>
      </div>
      <div class="paren-maren-button center-content">
        <button *ngIf="canParenMaren()" (click)="rollParenMaren()" [disabled]="!canRoll">Paren Maren</button>
      </div>
    
    </ng-container>

    <ng-template #noDice>
      <!-- <em>Sin tiradas</em> -->
    </ng-template>
  </section>
    <section class="actions center-content">
    <button type="button" (click)="rollDice()" [disabled]="!canRoll">Roll!</button>
    <!-- <button type="button" (click)="leaveRoom()">Salir de la sala</button> -->
  </section>
</div>
